.faq_contact {
    left: 220px;
    height: 100%;
    width: calc(100% - 220px);
    position: relative;
    padding-left: 30px;
    margin-top: 50px; 

    h1 {
        text-align: center;
        padding-top: 25px;
    }
}

.expando {
    display: none;
  }
  
  .expando:target {
    display: block;
  }
  

@media screen and (max-width: 700px) {
    .main .about {
        left: 0px;
        height: 100%;
        width: 100%;
    }
}