body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#sidenav {
    position: fixed;
    left: 0px;
    display: flex;
    flex-direction: column;
    background-color: #6A0203;
    height: 100vh;
    padding-top: 50px;
    transition: all .8s;
    z-index: 1;

    img {
        background-color: whitesmoke;
        width: 200px;
        padding: 10px;
        margin-bottom: 50px;
    }
    a {
        color: Whitesmoke;
        background-color: #3B3936;
        border-bottom: 1px dotted whitesmoke;
        padding: 8px 32px;
        font-size: 25px;
        text-decoration: none;
        transition: all .5s;
    }
}

.pagecontent {
    background-image: url(images/burger-hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
} 

.topnav {
    background-color: whitesmoke;
    opacity: .6;
    display: flex;
    justify-content: flex-end;
    align-items: center;   
    padding-right: 30px;

    a {
        color: #6A0203;
        padding: 16px;
        text-decoration: none;
        transition: all .5s;
    }
}

main {
    position: relative;
    left: 200px;
    height: calc(100vh - 50px);
    max-width: calc(100vw - 200px);

    h1 {
        text-align: center;
        color: whitesmoke;
        margin-top: 0;
    }

    h3 {
        text-align: center;
        color: whitesmoke;
    }
}

a:hover{
    color: #ED1C24;
}

.openbtn {
    flex-grow: 1;
    color: #6a0203;
    font-size: 30px;
    cursor: pointer;
    margin-left: 20px;
    visibility: hidden;
} 

@media screen and (max-width: 700px) {
    .openbtn{
        visibility: visible;
    }
    #sidenav{
        left: -250px;
    }
    main {
        left: 20px;
    }
}

